/* Write your CSS here */
.vaccination-age-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 20px;
}
